---
// import { supabase } from "@/src/api/supabase";

// const {
// 	data: { user },
// } = await supabase.auth.getUser();

// if (!user) {
// 	return Astro.redirect("/login");
// }
---

<h1>Herro world!</h1>
