---
import { $auth } from "@/api/supabase";

import Layout from "@/layout/layout.astro";

import LayoutBar from "@/components/layout/Bar.vue";
import Grid from "@/components/grid/Grid.vue";

const {
	data: { user },
} = await $auth.setSession({
	refresh_token: Astro.cookies.get("refresh-token").value || "",
	access_token: Astro.cookies.get("access-token").value || "",
});

if (!user) {
	return Astro.redirect("/login");
}
---

<Layout title="Zure Memes">
	<div class="grid min-h-100vh min-h-[100dvh] layout">
		<LayoutBar client:idle />

		<div class="px-4 layout__grid">
			<div class="-m-2">
				<Grid client:load />
			</div>
		</div>
	</div>
</Layout>

<style lang="postcss">
	.layout {
		grid-template-columns: [grid-start form-start] 1fr [form-end grid-end];
		grid-template-rows: [form-start] max-content [form-end grid-start] 1fr [grid-end];

		&__form {
			grid-area: form;

			@apply top-0 pb-4;
		}

		&__grid {
			grid-area: grid;

			@apply pb-4;
		}

		@media (hover: none) {
			grid-template-rows: [grid-start] 1fr [grid-end form-start] max-content [form-end];

			&__form {
				padding-bottom: calc(1rem + var(--saib));

				@apply top-auto bottom-0;

				&.is-keyboard {
					transform: translateY(var(--saib));
				}
			}

			&__grid {
				@apply pt-4 pb-0;
			}
		}
	}
</style>
