---
import { $auth } from "@/api/supabase";

import Layout from "@/layout/layout.astro";

import LoginButton from "@/components/login/Button.vue";

const {
	data: { user },
} = await $auth.getUser();

if (user) {
	return Astro.redirect("/");
}

let errorMessage = "";
---

<Layout>
	<div class="layout">
		<form></form>
		<LoginButton client:load />
		{errorMessage}
	</div>
</Layout>

<style lang="postcss">
	.layout {
		display: grid;
		min-height: 100vh;
		min-height: 100dvh;
		place-content: center;
		gap: 1rem 0;
	}
</style>
