---
import { type CookieOptions, createServerClient } from '@supabase/ssr';

import Form from '@/components/form/Login.vue';
import Layout from '@/layout/layout.astro';
import { Database } from '@/types/supabase';

const $supabase = createServerClient<Database>(
	import.meta.env.PUBLIC_SUPABASE_URL ?? '',
	import.meta.env.PUBLIC_SUPABASE_KEY ?? '',
	{
		cookies: {
			get(key: string) {
				return Astro.cookies.get(key)?.value;
			},
			remove(key: string, options) {
				Astro.cookies.delete(key, options);
			},
			set(key: string, value: string, options: CookieOptions) {
				Astro.cookies.set(key, value, options);
			},
		},
	},
);

const refreshToken = Astro.cookies.get('refresh-token')?.value;
const accessToken = Astro.cookies.get('access-token')?.value;

if (refreshToken && accessToken) {
	await $supabase.auth.setSession({
		access_token: accessToken, // eslint-disable-line camelcase
		refresh_token: refreshToken, // eslint-disable-line camelcase
	});
}

const { data: { user } } = await $supabase.auth.getUser();

if (user) {
	return Astro.redirect('/'); // eslint-disable-line unicorn/prefer-module
}
---

<Layout title="Zure Memes">
	<div class="layout">
		<Form client:only="vue" />
	</div>
</Layout>

<style lang="postcss">
	.layout {
		display: grid;
		gap: 1rem 0;
		min-height: 100vh;
		min-height: 100dvh;
		place-content: center;
	}
</style>
