---
import LoginButton from "@/src/components/login/Button.vue";
import { auth, login } from "@/src/store/supabase";

// const {
// 	data: { user },
// } = await supabase.auth.getUser();

// if (user) {
// 	return Astro.redirect("/");
// }

let errorMessage = "";

login();
---

<div class="grid min-h-100vh min-h-[100dvh] place-content-center gap-y-4">
	{JSON.stringify(auth)}
	<LoginButton client:idle />
	{errorMessage}
</div>
