---
import { $auth } from "@/api/supabase";

import Layout from "@/layout/layout.astro";

import Form from "@/components/form/Login.vue";

const {
	data: { user },
} = await $auth.getUser(Astro.cookies.get("access-token").value || "");

if (user) {
	return Astro.redirect("/");
}
---

<Layout title="Zure Memes">
	<div class="layout">
		<Form client:only="vue" />
	</div>
</Layout>

<style lang="postcss">
	.layout {
		display: grid;
		min-height: 100vh;
		min-height: 100dvh;
		place-content: center;
		gap: 1rem 0;
	}
</style>
