---
import { pwaInfo } from 'virtual:pwa-info';

const { title = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			content="width=device-width,initial-scale=1,viewport-fit=cover"
			name="viewport"
		/>
		<meta content="yes" name="mobile-web-app-capable" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta
			content="black-translucent"
			name="apple-mobile-web-app-status-bar-style"
		/>
		<meta content="Zure Memes" name="apple-mobile-web-app-title" />
		<meta content="@zeebats" name="author" />
		<meta
			content="summary_large_image"
			name="twitter:card"
			property="twitter:card"
		/>
		<meta
			content="https://zure-memes.netlify.app"
			name="twitter:site"
			property="twitter:site"
		/>
		<meta content="Zure Memes" name="title" />
		<meta content="Zure Memes fo' dat ass" name="description" />
		<meta content="website" property="og:type" />
		<meta content="false" property="og:url" />
		<meta content="Zure Memes" property="og:title" />
		<meta content="Zure Memes fo' dat ass" property="og:description" />
		<meta content="Zure Memes" name="og:site_name" property="og:site_name" />
		<!-- <meta
			name="og:image:width"
			property="og:image:width"
			content="1200"
		/>
		<meta
			name="og:image:height"
			property="og:image:height"
			content="600"
		/>
		<meta
			property="og:image"
			content="https://jochemkeller.nl/ogimage/seed/%2F/title/Home/color/%23003054/"
		/> -->
		<meta content="Zure Memes" property="twitter:title" />
		<meta content="Zure Memes fo' dat ass" property="twitter:description" />
		<!-- <meta
			property="article:published_time"
			content="2022-04-30T15:19:11.735Z"
		/>
		<meta
			property="article:modified_time"
			content="2022-04-30T15:19:11.735Z"
		/> -->
		<!-- <meta
			property="twitter:label1"
			content=""
		/>
		<meta
			property="twitter:data1"
			content=""
		/>
		<meta
			property="twitter:label2"
			content=""
		/>
		<meta
			property="twitter:data2"
			content=""
		/>
		<meta
			property="twitter:image"
			content="https://jochemkeller.nl/ogimage/seed/%2F/title/Home/color/%23003054/"
		/> -->
		<meta content="#FFE100" name="theme-color" />

		<title>{title}</title>

		<link href="https://zure-memes.netlify.app" rel="canonical" />
		<link href="/favicon.ico" rel="icon" sizes="any" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" />

		<link href="cdn.discordapp.com" rel="preconnect" />
		<link href="c.tenor.com" rel="preconnect" />
		<link href="media.discordapp.net" rel="preconnect" />
		<link href="media.tenor.com" rel="preconnect" />

		<!-- <link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2048-2732.png"
			media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2732-2048.png"
			media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1668-2388.png"
			media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2388-1668.png"
			media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1668-2224.png"
			media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2224-1668.png"
			media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1536-2048.png"
			media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2048-1536.png"
			media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1242-2688.png"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2688-1242.png"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1125-2436.png"
			media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2436-1125.png"
			media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-828-1792.png"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1792-828.png"
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1242-2208.png"
			media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-2208-1242.png"
			media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-750-1334.png"
			media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1334-750.png"
			media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-640-1136.png"
			media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		/>
		<link
			rel="apple-touch-startup-image"
			href="/master/apple-splash-1136-640.png"
			media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		/>
		<link
			media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image"
		/>
		<link
			rel="manifest"
			href="/_nuxt/manifest.bb863d30.json"
		/> -->
		<script src="/src/assets/scripts/observers.ts"></script>

		<script src="/src/assets/scripts/pwa.ts"></script>
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>

	<body>
		<slot />
		<script src="/src/assets/scripts/auth.ts"></script>
	</body>
</html>

<style lang="postcss">
	:where(html) {
		--saib: env(safe-area-inset-bottom, 0);
	}
</style>
